body{
    background-color: rebeccapurple;
}
a{
    text-decoration: none !important;
    
    display: block;
}

.logo{
    margin: 0px;
    text-decoration: none;
    color: black;
    height: 120px;
    
}
.header1{
    height: 120px;
}
.logo img{
    height: 100%;
    margin-right: 10px;
    padding: 10px;
}
.logo span{
    background-color: #100051;
    width: 24px;
    display:inline-block;
    text-align: center;
    margin-right: 2px;
    color: white;
}
.logo h5{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.header2{
    background-color: #100051;
}
.header2 ul{
    list-style: none;
    padding: 2px;
    color: white;
    margin: auto;
}
.header2 ul li a{
    padding: 10px 20px;
    color: white;
}

.header2 ul li a:hover{
    background-color: #0d6efd;
}



/* Carousel home*/
#Carousel-main img{
    height: 700px;
    width: 100vw;
}

/*Marquee*/
.marquee{
    background-color: #100051;
}
.marquee ul li a{
    color: white;
}
.marquee ul{
    margin: 0;
}
.marquee ul li{
    margin-right: 55px;
    color: white;
    
    padding: 10px;
}

/*about*/
.about{
    width: 85%;
    padding: 50px 0px;
    margin: auto;
}
.about h3, .achivement h3, .news-media h3{
    text-align: center;
    padding: 20px;
    width: fit-content;
    margin: auto;
}
.about h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}
.about-img img{
    width: 100%;
}

/*Achivement*/
.achivement{
    padding: 50px 20px;
    background-color: rgb(195, 255, 235);
}


.achivement h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}
.achivement img{
    margin: auto 0px;
}


/*News and Media*/
.news-media{
    padding: 50px 10px;
}
.news-media .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 

}

.news-media .grid img{
    width: 100%;
}

.news-media h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}

/*Mission- Motto*/
.mission-motto .row{
    margin: 0px;
}
.mission-motto .row div{
    padding: 55px;
}
.motto{
    background-color: #f79431;
}
.mission{
    background-color: #ffffff;
}
.what-you-get{
    background-color: #;
}

/*Footer*/
.footer1{
    background-color:#100051 ;
}
.footer1 ul{
    margin: auto;
    width:fit-content ;
    list-style: none;
    display: flex;
}
.footer1 ul li a{
    color: white;
    padding: 10px;
}
.footer1 ul li a:hover{
    background-color: #0d6efd;
}

.searching{
    outline: none;
    border: none;
}

.searching:focus{
    outline: none !important;
    border:none;
}