body{
    background-color: rebeccapurple;
}
a{
    text-decoration: none !important;
    
    display: block;
}

.logo{
    margin: 0px;
    text-decoration: none;
    color: black;
    height: 120px;
    
}

.flex-row h5{
    padding-right: 10px;
}
.header1{
    height: 120px;
    width: 90%;
    margin: auto;
}
.logo img{
    height: 100%;
    margin-right: 10px;
    padding: 10px;
}
.logo span{
    background-color: #100051;
    width: 24px;
    display:inline-block;
    text-align: center;
    margin-right: 2px;
    color: white;
}
.logo h5{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.header2{
    background-color: #100051;
}
.header2 ul{
    list-style: none;
    padding: 2px;
    color: white;
    margin: auto;
}
.header2 ul li a{
    padding: 10px 20px;
    color: white;
}

.header2 ul li a:hover{
    background-color: #0d6efd;
}



/* Carousel home*/
#Carousel-main img{
    height: 700px;
    width: 100vw;
}

/*Marquee*/
.marquee{
    background-color: #100051;
}
.marquee ul li a{
    color: white;
}
.marquee ul{
    margin: 0;
}
.marquee ul li{
    margin-right: 55px;
    color: white;
    
    padding: 10px;
}

/*about*/
.about{
    width: 85%;
    padding: 50px 0px;
    margin: auto;
}
.about h3, .achivement h3, .news-media h3, .work h3{
    text-align: center;
    padding: 20px 20px 35px 20px;
    width: fit-content;
    margin: auto;
}
.about h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}
.about-img img{
    width: 100%;
}

/*Achivement*/
.achivement{
    padding: 50px 20px;
    background-color: rgb(195, 255, 235);
}


.achivement h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}
.achivement img{
    margin: auto 0px;
}


/*News and Media*/
.news-media{
    padding: 50px 10px;
}
.news-media .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 

}

.news-media .grid img{
    width: 100%;
}

.news-media h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}

/*Work*/
.work{
    padding-top: 50px;
    background-color: rgb(195, 255, 235);
}
.work h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}
.work .work-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.work .work-grid .grid-item{
    position: relative;
}

.work .work-grid .grid-item .img{
    width: 100%;
}

.work .work-grid .grid-item .img img{
    width: 100%;
}



.work .txt{
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition:ease-in 0.5s;
    color: white;
    position: absolute;
    display: flex;
    height: 100%;
    bottom: 0;
    z-index: 2222;
    width: 100%;
}
.work .work-grid .grid-item:hover .txt{
    opacity: 1;
}
.work .txt h6{
    width: fit-content;
    margin: auto;
}


/*Mission- Motto*/
.mission-motto .row{
    margin: 0px;
}

.motto{
    background-color: #f79431;
    padding: 0px !important;
}
.mission{
    background-color: #ffffff;
    padding: 0px !important;
}
.what-you-get{
    background-color: #118407;
    padding: 0px !important;
}
.motto div{
    background-image: url(../image/bulb.svg);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-position: 115% 109%;
    background-size: 30%;
    padding: 55px 55px 75px 55px;
    height: 100%;

}
.mission div{
    background-image: url(../image/gear.svg);
    background-repeat: no-repeat;
    background-position: 115% 109%;
    background-size: 30%;
    padding: 55px 55px 75px 55px;
    height: 100%;
}

.what-you-get div{
    background-image: url(../image/thumb-up.svg);
    background-repeat: no-repeat;
    background-position: 115% 109%;
    background-size: 30%;
    padding: 55px 55px 75px 55px;
    height: 100%;
}

.mission-motto h5{
    text-transform: uppercase;
    font-weight: bold;
    color: #00007c;
    padding: 0px 0px 25px 0px;
}
.motto p, .what-you-get p{
    color: white;
}
.mission p{
    color: #00007c;
}

/*Footer*/
.footer1{
    background-color:#100051 ;
}
.footer1 ul{
    margin: auto;
    width:fit-content ;
    list-style: none;
    display: flex;
}
.footer1 ul li a{
    color: white;
    padding: 10px;
}
.footer1 ul li a:hover{
    background-color: #0d6efd;
}

.searching{
    outline: none;
    border: none;
}

.searching:focus{
    outline: none !important;
    border:none;
}

@media (max-width: 756px){
    .header2 ul li a{
        font-size: 16px;
    }
    .header1 .flag{
        visibility: hidden;
    }
}