body{
    background-color: rebeccapurple;
}
a{
    text-decoration: none !important;
}
.header1 p{
    margin: 0;
}
.header1{
    background-color: #100051;
    color: white;
}
.header1 .social a{
    margin-left: 10px;
    color: white;
}
.header1 .social a i{
    margin: auto; 
}
.logo{
    margin: 0px;
    text-decoration: none;
    color: black;
    height: 120px;
    
}
.header2{
    height: 120px;
}
.header2 img{
    height: 100%;
    margin-right: 10px;
    padding: 10px;
}
.logo span{
    background-color: #100051;
    width: 24px;
    display:inline-block;
    text-align: center;
    margin-right: 2px;
    color: white;
}
.logo h5{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.header3{
    background-color: #100051;
}
.header3 ul{
    list-style: none;
    padding: 2px;
    color: white;
    margin: auto;
}
.header3 ul li a{
    padding: 10px 20px;
    color: white;
}

.header3 ul li a:hover{
    background-color: #0d6efd;
}

/* Carousel home*/
#Carousel-main img{
    height: 600px;
    width: 100vw;
}

/*Marquee*/
.marquee{
    background-color: #100051;
}
.marquee ul li a{
    color: white;
}
.marquee ul{
    margin: 0;
}
.marquee ul li{
    margin-right: 55px;
    color: white;
    
    padding: 10px;
}

/*about*/
.about{
    width: 85%;
    padding: 50px 0px;
    margin: auto;
}
.about h3{
    text-align: center;
    padding: 20px;
    width: fit-content;
    margin: auto;
}
.about h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}

/*Achivement*/
.achivement{
    padding: 50px 20px;
    background-color: rgb(195, 255, 235);
}

.achivement h3{
    text-align: center;
    width: fit-content;
    margin: auto;
    padding: 20px;
}
.achivement h3::after{
    display: block;
    content: "";
    margin: 10px auto;
    width: 20%;
    height: 2px;
    background-color: #100051;
}
